.areaSlider{
  background-color: transparent;
  background-image: url("../../assets/images/areabg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px white inset;
  overflow: hidden;
  li{
    display: inline-block;
    margin-right: 5px;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(0,0,0,.2);
  }
}